//
// MASTHEAD
//

#masthead {
  background: 50% 50% url(/img/rainbow-masthead-small.png) no-repeat;
  background-size: cover;
  height: 96px;
  border-bottom: 4px solid black;
  .title {
    width: 460px;
    margin: 0 auto;
    padding: 0;
    font-size: 26px;
    line-height: 96px;
  }
}

body.home #masthead {
  background: 50% 50% url(/img/rainbow-masthead.png) no-repeat;
  background-size: cover;
  height: 256px;
  margin: 0;
  border-bottom: 0;
  .text {
    width: 360px;
    margin: 0 auto;
    padding-top: 80px;
  }
  .title {
    font-size: 80px;
    line-height: 60px;
    color: #000;
    margin: 0;
    font-weight: bold;
    width: auto;
  }
  .tagline {
    padding-left: 5px;
    margin-top: 6px;
    font-size: 18px;
    line-height: 24px;
  }
}

//
// HOME PAGE STYLES
//

body.home {
  .b {
    font-weight: bold;
  }
  //h1 {
  //  margin-top: 1em;
  //}
  .home-buttons .box {
    margin-bottom: 1em;
  }
  .introtext {
    margin-top: 15px;
    font-size: 1.5em;
  }
}

body.home {
  .nav {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    a {
      color: #fff;
      background-color: rgba(255,255,255,0.08);
      margin-right: 12px;
      &:hover {
        color: #000;
        background-color: rgba(255,255,255,0.6);
      }
    }
    margin-bottom: 0;
  }
  .navheader {
    background: #444;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
  }
}

.download {
  text-align: center;
  a {
    font-size: 200%;
  }
}

//
// SMALL SCREEN
//

@media (max-width: 767px) {
  body.home #masthead {
    //margin-left: -20px;
    //margin-right: -20px;
    background: 40% 50% url(/img/rainbow-masthead-small.png) no-repeat;
    height: 96px;
    .tagline {
      display: none;
    }
    .text {
      margin: 0 auto;
      padding: 0;
      width: 190px;
    }
    .title {
      font-size: 42px;
      line-height: 96px;
    }
  }
}

