!!!
%html{:lang => @locals[:locale].to_s}
  %head
    %title
      = @page.nav_title + ' - ' + @site.title
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(charset="UTF-8")
    %link(rel="stylesheet" href="/assets/bootstrap.min.css")/
    %link(rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css")/
    %link(rel="stylesheet" href="/assets/style.css")/
    %link(rel="icon" href="/assets/images/favicon.png" type="image/x-icon")/
  %body.home
    #wrap
      #masthead
        = render 'layouts/masthead'
      .navheader
        .container
          .row
            .col-sm-12
              %ul.nav.nav-pills
                %li
                  %a{href:"#how-it-works"} How it works
                %li
                  %a{href:"#providers"} Supported providers
                %li
                  %a{href:"#about-us"} About us
                %li
                  %a{href:"#code"} Fork our code
      #main.container
        = yield :content
    #footer
      = render 'layouts/footer'
