%h1#how-it-works How it works

%p The <b>Bitmask</b> application is designed to have a <b>friendly</b> interface with <b>automatic</b> configuration. You simply start the application, register with the compatible service provider of your choice, and away you go.

%p.b Encrypted Internet (VPN)

%ul
  %li All your traffic is encrypted, routed through your provider, decrypted, and then sent on to the open internet (we use OpenVPN).
  %li By doing this, encrypted internet is very effective at bypassing most censorship and network surveillance by your ISP or country.
  %li Encrypted internet also hides your IP address, thus keeping your physical location safe from nefarious websites.
  %li We take extra security measures to prevent problems common to other VPN applications, such as DNS leakage and IPv6 leakage.

%p.b Encrypted Email

%ul
  %li Bitmask encrypted email is easy to use while still being backward compatible with the existing OpenPGP protocol for secure email.
  %li All incoming email is automatically encrypted so only you can read it (including meta-data).
  %li If possible, outgoing email is automatically encrypted so that only the recipient can read it (if a valid OpenPGP public key can be automatically discovered and validated for the recipient).

%p.b Security Features

%ul
  %li All data storage is encrypted, including local data and cloud backups. This encryption always #{link 'takes place on your device' => 'https://leap.se/en/soledad'}, so the service provider cannot read your stored data.
  %li Your data is always available and #{link 'synchronized to the devices' => 'https://leap.se/en/soledad'} you choose.
  %li Although you specify a username and password to login, your [[password is never communicated to the provider => https://en.wikipedia.org/wiki/Secure_Remote_Password_protocol]].
  %li The Bitmask application is always kept up to date with the latest security patches (coming soon).
  %li If you download the Bitmask application from #{link 'downloads.leap.se' => 'https://downloads.leap.se'}, your service provider cannot add a backdoor to compromise your security.
  %li As with any security system, Bitmask has #{link 'known limitations' => 'https://leap.se/en/limitations'}.

%p For technical details, see our #{link 'design documentation' => 'https://leap.se/en/design'}.

%h1#providers Supported providers

%p The following service providers are compatible with the Bitmask application:

%ul
  %li= link 'demo.bitmask.net' => 'https://demo.bitmask.net'
  %li
    = link 'calyx.net' => 'https://calyx.net'
    (coming soon)
  %li
    = link 'oblivia.vc' => 'https://oblivia.vc'
    (coming soon)
  %li
    = link 'riseup.net' => 'https://riseup.net'
    (coming soon)


%p Start your own compatible service provider with the free software #{link 'LEAP platform' => 'https://leap.se/en/platform'}.

%h1#about-us About us

%img{src:'/img/leap-small.png', align:'right'}

%p The <b>Bitmask</b> application is lovingly hand-crafted by a team of paid and volunteer programmers from seven different countries. Development is principally sponsored by the #{link 'LEAP Encryption Access Project' => 'https://leap.se'}, an non-profit organization dedicated to defending democracy by <b>protecting the right to whisper</b>.

%p The service provider <b>bitmask.net</b> is operated by LEAP in order to demonstrate usage of the <b>Bitmask</b> application. However, we actively encourage other organizations to start their own compatible service providers by using our free software #{link 'platform for server automation' => 'https://leap.se/en/platform'}.

%h1#code Fork our code

%p <b>Hey, you! We could use a hand here</b>. You want communication free of surveillance, based on open protocols, and that gives users control over their own data? Well, grab a keyboard and #{link 'pitch in' => 'https://leap.se/en/get-involved'}&mdash;the code is not going to write itself.

%p In particular, if you have finely honed skill in Python, Android Java, Ruby, C, CouchDB, Windows, Mac, Puppet, Qt, or you really love crypto, we could sure use your help.

%ol
  %li #{link 'Fork our code' => 'https://leap.se/en/source'}.
  %li Create a new branch from develop called feature/x or bugfix/x.
  %li Hack away.
  %li Issue a pull request on github from your feature or bugfix branch to the upstream develop branch.
  %li Discuss and wait for request to be merged.
  %li Repeat.

%p Currently, we release a new version of the Bitmask application every two weeks, and other components as necessary.

%p &nbsp;
%p &nbsp;

