- @toc = false
- @title = 'Home'

.row
  .col-sm-12
    %p.introtext
      <b>Bitmask</b> is an open source application to provide easy and secure encrypted communication. You can choose among <a href="#providers">several different service providers</a>, or <a href="https://leap.se/en/doc/platform">start your own</a>. Currently, Bitmask supports encrypted internet and encrypted email (with more services in the works).
    = render 'download_buttons'
    = render 'text'